---
---

<header class="fixed left-0 top-0 w-full">
  <nav class="flex h-16 justify-between max-w-4xl mx-auto items-center">
    <a href="/">BlogWebsite</a>
    <div>
      <ul class="flex gap-x-6">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/signup">Sign Up</a>
        </li>
        <li>
          <a href="/signin">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
