---
const { postTitle, postCreatedAt } = Astro.props;
---

<article class="bg-slate-700 rounded-lg px-7 py-6 shadow-sm group">
  <h3 class="font-semibold text-2xl text-slate-200 mb-4 group-hover:underline">
    {postTitle}
  </h3>
  <span class="italic text-sm font-medium text-emerald-500">
    Created: {postCreatedAt}
  </span>
</article>
