---
import Base from "../layouts/Base.astro";

const title = "BlogWebsite - Home";

const response = await fetch("http://127.0.0.1:5000/api/posts", {
  method: "GET",
});

const data = await response.json();
---

<Base title={title}>
  <h1>Home Page</h1>
  {data.length === 0 ? <h2>Empty</h2> : { data }}
</Base>
