---
import Base from "../layouts/Base.astro";
import PostCard from "../components/PostCard.astro";

const title = "Home";

const response = await fetch("http://127.0.0.1:5000/api/posts", {
  method: "GET",
});

const data = await response.json();
---

<Base title={title}>
  <section>
    <h2 class="mb-10 text-center font-bold text-3xl mx-28 text-slate-200">
      Welcome to <span class="text-emerald-500">BlogWebsite</span>, the place
      where you can read and write blogs of your interest.
    </h2>
    {
      data.length === 0 ? (
        <p>Empty</p>
      ) : (
        <div class="grid gap-y-6">
          {data.map((post: any) => (
            <a href={`/post/${post.id}`}>
              <PostCard
                postTitle={post.title}
                postCreatedAt={post.created_at}
              />
            </a>
          ))}
        </div>
      )
    }
  </section>
</Base>
