---
import Base from "../layouts/Base.astro";
import SignUpForm from "../components/SignUpForm.jsx";

const pageTitle = "Sign Up";
---

<Base title={pageTitle}>
  <section>
    <h2 class="mb-10 text-center font-bold text-3xl mx-28 text-slate-200">
      Create your <span class="text-emerald-500">account</span> and share your thoughts.
    </h2>
    <div class="flex justify-center">
      <SignUpForm client:load />
    </div>
  </section>
</Base>
