---
import Base from "../layouts/Base.astro";

const pageTitle = "Sign In";

const API_URL = import.meta.env.API_URL;

if (Astro.cookies.get("token").value) {
  return Astro.redirect("/profile");
}

let errorResponse = "";

if (Astro.request.method === "POST") {
  const signInData = await Astro.request.formData();
  const username = signInData.get("username");
  const password = signInData.get("password");

  const response = await fetch(`${API_URL}/auth/signin`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ username, password }),
  });

  if (response.ok) {
    const dataResponse = await response.json();

    Astro.cookies.set("token", dataResponse.access_token);

    return Astro.redirect("/profile");
  } else {
    const dataResponse = await response.json();

    errorResponse += dataResponse.message;
  }
}
---

<Base title={pageTitle}>
  <section>
    <h2 class="mb-10 text-center font-bold text-3xl mx-28 text-slate-200">
      Log in to your <span class="text-emerald-500">profile</span> and explore your
      account.
    </h2>
    <div class="flex justify-center">
      <form method="POST" class="grid w-[500px] gap-y-6">
        <div>
          <input
            class="w-full py-3 pl-6 rounded-lg font-semibold text-lg outline-none text-slate-800"
            type="text"
            placeholder="Username"
            autocomplete="off"
            name="username"
            required
          />
        </div>
        <div>
          <input
            class="w-full py-3 pl-6 rounded-lg font-semibold text-lg outline-none text-slate-800"
            type="password"
            placeholder="Password"
            autocomplete="off"
            name="password"
            required
          />
        </div>
        <button
          type="submit"
          class="bg-emerald-500 text-slate-800 rounded-lg py-3 font-semibold text-lg shadow-lg"
        >
          Sign In
        </button>
        {
          errorResponse && (
            <p class="text-center text-red-500 text-xl font-medium">
              {errorResponse}
            </p>
          )
        }
      </form>
    </div>
  </section>
</Base>
